body {
    background-color: #eee;
}
#ctpq8Wrapper {
    width: 70%;
    display:block;
    margin: 20px auto;
}

.choice {
    float: left;
    font-family: arial;
    font-size: 1.5em;
    min-width: 200px;
    text-align: right;
    margin: 8px 5px;
}
.bar {
    width: 0;
    height: 35px;
    margin: 5px;
    float: left;
}

#ctpq8Graph1 .bar{
    background-color: #d9534f;
}
#ctpq8Graph2 .bar{
    background-color: #428bca;
}
#ctpq8Graph3 .bar{
    background-color: #f0ad4e;
}
#ctpq8Graph3 .group:nth-child(2) .bar{
    background-color: #d9534f;
}
#ctpq8Graph3 .group:nth-child(3) .bar{
    background-color: #428bca;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 750px) {
    #ctpq8Wrapper {
        width: 100%;
    }
}


